h1 {
    color: blue;
    padding-left: 2em;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-items {
    display: flex;
    width: 50%;
    justify-content: space-around;
}